<section>
  <div class="bg-image">
    <img
      src="https://okta-demo-74648.s3.eu-west-2.amazonaws.com/Leadenhall.jpg"
      alt="Background"
    />
  </div>
  <div class="logo">
    <img src="https://okta-demo-74648.s3.eu-west-2.amazonaws.com/logo.png" />
  </div>
  <div class="logged-out">
    <div *ngIf="!user" id="okta-login-container"></div>
  </div>
  <div class="logged-in" *ngIf="user">
    Hello {{ user }}
    <button class="logout" (click)="logout()">Logout</button>
  </div>
</section>
