.bg-image{
    height:100%;
}
.bg-image img{
    width:100%; 
    height:100%;
    object-fit: cover;
}
.logged-out{
    position: absolute;
    top: 30%;
    left: calc(50% - 200px);
    width: 400px;
    max-width: 400px;
}
.logged-in{
    position: absolute;
    right: 10px;
    top: 20px;
    z-index: 100;
}
.logo{
    position: absolute;
    left: 40px;
    top: 20px;
    height: 75px;
    z-index: 100;
}
.logo img{
    height: 100%;
}